.main{
  background-color:rgb(23, 24, 29);
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__element {
    margin-bottom: 10px;
  }
}

.login-form {
  color: white;
  background-color: rgb(64, 76, 94);
  height: 300px;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(110, 110, 110);
  border-radius: 10px;
  padding-top: 50px;

  &__input-field {
    margin: 5px;
    color: white;
    background-color: rgb(3, 28, 44);
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;
    width: 300px;
  }

  &__input-label {
    margin: 15px 5px 5px 40px;
    color: white;
    align-self: flex-start;
    font-size: 18px;
  }

  &__button{
    margin-top: 20px;
  }

  &__err-message{
    margin-top: 15px;
    color: red;
  }

}

.button {
  width: 320px;
  font-size: 18px;
  align-self: center;
  padding: 10px;
}

.title {
  padding: 10px;
  text-align: center;
  font-size: 24px;
  color: white;
}

.logo {
  height: 100px;
  width: 100px;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}